@model GameModel
@*Generated from Custom Template.*@
@*Model namespace using directive should be added to _ViewImports.cshtml.*@

@{
    ViewData["Title"] = "Create Game";
}

<h1>@ViewData["Title"]</h1>

<h4>Game</h4>
<hr />
<div class="row">
    <div class="col-12">
        <form asp-action="Create" autocomplete="off">
		@Html.AntiForgeryToken()
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="row mb-3">
                <label asp-for="Name" class="col-2 col-form-label"></label>
				<div class="col-5">
					<input asp-for="Name" class="form-control" />
					<span asp-validation-for="Name" class="text-danger"></span>
				</div>
            </div>
            <div class="row mb-3">
                <label asp-for="PublishDate" class="col-2 col-form-label"></label>
				<div class="col-5">
					<input asp-for="PublishDate" class="form-control" id="datetimepicker" type="text" />
					<span asp-validation-for="PublishDate" class="text-danger"></span>
				</div>
            </div>
            <div class="row mb-3">
                <label asp-for="TotalSalesPrice" class="col-2 col-form-label"></label>
				<div class="col-5">
					<input asp-for="TotalSalesPrice" class="form-control" />
					<span asp-validation-for="TotalSalesPrice" class="text-danger"></span>
				</div>
            </div>
            <div class="row mb-3">
                <label asp-for="PublisherId" class="col-2 col-form-label"></label>
				<div class="col-5">
					<select asp-for="PublisherId" class="form-select select2" asp-items="ViewBag.PublisherId">
						<option value="">-- Select --</option>
					</select>
					<span asp-validation-for="PublisherId" class="text-danger"></span>
				</div>
            </div>
			<div class="row mb-3">
				<label asp-for="UsersInput" class="col-2 col-form-label"></label>
				<div class="col-5">
					<select multiple asp-for="UsersInput" class="form-select select2" asp-items="ViewBag.Users"></select>
					<span asp-validation-for="UsersInput" class="text-danger"></span>
				</div>
			</div>
            <div class="row mb-3">
				<div class="offset-2 col-5">
					<input type="submit" value="Save" class="btn btn-primary" />
					&nbsp;&nbsp;
                    <button type="reset" class="btn btn-outline-primary">Reset</button>
					&nbsp;&nbsp;
					<a asp-action="Index">Back to List</a>
				</div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <link href="~/lib/jquery-datetimepicker/jquery.datetimepicker.min.css" rel="stylesheet" />
    <script src="~/lib/jquery-datetimepicker/jquery.datetimepicker.full.min.js"></script>

    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
    <script src="~/lib/select2/js/select2.min.js"></script>

	<script>
		// Way 1:
		// $(document).ready(function () {
		// Way 2:
		$(function () {
			$("#datetimepicker").datetimepicker({
				timepicker: false,
				format: "m/d/Y"
			});

			$(".select2").select2();
		});
	</script>
}


